<header class="header" id="header">
  <div class="header-container container">
    <nav class="navigation">
      <a class="header-logo" href="./index.html">yachtjet</a>
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a class="header-navigation-link mob-menu-link active" href="#about"
            >About</a
          >
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link mob-menu-link" href="#yachts"
            >Yachts</a
          >
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link mob-menu-link" href="#reviews"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg
            class="header-soc-icon header-soc-icon-instagram"
            width="19"
            height="19"
          >
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="header-soc-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          class="header-soc-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="header-soc-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button class="mob-menu-open-btn js-open-menu" type="button">
      <svg class="header-button" width="24" height="24">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <button
      class="mob-menu-open-btn mob-menu-close-btn js-close-menu is-hidden"
      type="button"
    >
      <svg class="header-button-close" width="16" height="16">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <!-- Mob-menu -->
  <div class="js-menu-container mob-menu">
    <ul class="mob-menu-navigation-list">
      <li class="mob-menu-navigation-item">
        <a class="mob-menu-navigation-link mob-menu-link active" href="#about"
          >About</a
        >
      </li>
      <li class="mob-menu-navigation-item">
        <a class="mob-menu-navigation-link mob-menu-link" href="#yachts"
          >Yachts</a
        >
      </li>
      <li class="mob-menu-navigation-item">
        <a class="mob-menu-navigation-link mob-menu-link" href="#reviews"
          >Reviews</a
        >
      </li>
    </ul>

    <ul class="mob-menu-soc-list">
      <li class="mob-menu-soc-item">
        <a
          class="mob-menu-soc-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg
            class="mob-menu-soc-icon mob-menu-soc-icon-instagram"
            width="19"
            height="19"
          >
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-soc-item">
        <a
          class="mob-menu-soc-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="mob-menu-soc-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-soc-item">
        <a
          class="mob-menu-soc-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="mob-menu-soc-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
