<section class="yachts section" id="yachts">
    <div class="container yachts-container">
        <h2 class="yachts-title">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="yachts-list">
            <li class="yachts-item">
                <div class="yachts-card">
                    <picture>
                        <source media="(min-width: 1440px)" type="image/webp"
                            srcset="./img/yachts/arrow-1440-1x-webp.webp 1x, ./img/yachts/arrow-1440-2x-webp.webp 2x">
                        <source media="(min-width: 1440px)" type="image/png"
                                srcset="./img/yachts/arrow-1440-1x.png 1x, ./img/yachts/arrow-1440-2x.png 2x">


                        <source media="(min-width: 1280px)" type="image/webp"
                            srcset="./img/yachts/arrow-1280-1x-webp.webp 1x, ./img/yachts/arrow-1280-2x-webp.webp 2x">
                        <source media="(min-width: 1280px)" type="image/png"
                            srcset="./img/yachts/arrow-1280-1x.png 1x, ./img/yachts/arrow-1280-2x.png 2x">

                        <source media="(min-width: 768px)" type="image/webp"
                            srcset="./img/yachts/arrow-tab-1x-webp.webp 1x, ./img/yachts/arrow-tab-2x-webp.webp 2x">
                        <source media="(min-width: 768px)" type="image/png"
                            srcset="./img/yachts/arrow-tab-1x.png 1x, ./img/yachts/arrow-tab-2x.png 2x ">
                        

                        <source media="(max-width: 767px)" type="image/webp"
                            srcset="./img/yachts/arrow-mob-1x-webp.webp 1x, ./img/yachts/arrow-mob-2x-webp.webp 2x">
                        <source media="(max-width: 767px)" type="image/png"
                            srcset="./img/yachts/arrow-mob-1x.png 1x, ./img/yachts/arrow-mob-2x.png 2x">
                        
                        <img class="yachts-photo" src="./img/yachts/arrow-1440-1x.png" alt="ARROW">

                    </picture>
                    <div class="yachts-text-container decorative-line">
                        <h3 class="yachts-subtitle">ARROW</h3>
                        <p class="yachts-text">LUXURY YAHTS</p>
                    </div>
                    <div class="yachts-item-container">
                        <ul class="yachts-parameters">
                            <li class="yachts-item-categories">LENGTH</li>
                            <li class="yachts-item-categories">BUILDER</li>
                            <li class="yachts-item-categories">BUILT</li>
                            <li class="yachts-item-categories">GUESTS</li>
                            <li class="yachts-item-categories">PRICE</li>
                        </ul>
                        <ul class="yachts-parameters">
                            <li class="yachts-item-parameters">48m(155ft)</li>
                            <li class="yachts-item-parameters">Admiral</li>
                            <li class="yachts-item-parameters">2021</li>
                            <li class="yachts-item-parameters">11 in 5 cabins</li>
                            <li class="yachts-item-parameters">€33,500,000</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="yachts-item">
                <div class="yachts-card">
                    <picture>
                        <source media="(min-width: 1440px)" type="image/webp" srcset="./img/yachts/benetti-1440-1x-webp.webp 1x, 
                        ./img/yachts/benetti-1440-2x-webp.webp 2x">

                        
                        <source media="(min-width: 1440px)" type="image/png" srcset="./img/yachts/benetti-1440-1x.png 1x, 
                        ./img/yachts/benetti-1440-2x.png 2x">
                        
                        <source media="(min-width: 1280px)" type="image/webp" srcset="./img/yachts/benetti-1280-1x-webp.webp 1x, 
                        ./img/yachts/benetti-1280-2x-webp.webp 2x">
                        
                        <source media="(min-width: 1280px)" type="image/png" srcset="./img/yachts/benetti-1280-1x.png 1x,
                        ./img/yachts/benetti-1280-2x.png 2x">
                        
                        <source media="(min-width: 768px)" type="image/webp" srcset="./img/yachts/benetti-tab-1x-webp.webp 1x, 
                        ./img/yachts/benetti-tab-2x-webp.webp 2x">
                        
                        <source media="(min-width: 768px)" type="image/png" srcset="./img/yachts/benetti-tab-1x.png 1x, 
                        ./img/yachts/benetti-tab-2x.png 2x">
                        

                        <img class="yachts-photo" src="./img/yachts/benetti-1440-1x.png" alt="BENETTI OASIS yacht">
                    </picture>
                    <div class="yachts-text-container decorative-line">

                        <h3 class="yachts-subtitle yacht-name">BENETTI OASIS 40M BO122</h3>

                        <p class="yachts-text">LUXURY YAHTS</p>
                    </div>
                    <div class="yachts-item-container">
                        <ul class="yachts-parameters">
                            <li class="yachts-item-categories">LENGTH</li>
                            <li class="yachts-item-categories">BUILDER</li>
                            <li class="yachts-item-categories">BUILT</li>
                            <li class="yachts-item-categories">GUESTS</li>
                            <li class="yachts-item-categories">PRICE</li>
                        </ul>
                        <ul class="yachts-parameters">
                            <li class="yachts-item-parameters">41m (133ft)</li>
                            <li class="yachts-item-parameters">Benetti</li>
                            <li class="yachts-item-parameters">2025</li>
                            <li class="yachts-item-parameters">10 in 5 cabins</li>
                            <li class="yachts-item-parameters">€23,210,000</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="yachts-item">
                <div class="yachts-card">
                    <picture>

                        <source media="(min-width: 1440px)" type="image/webp" srcset="./img/yachts/belle-1440-1x-webp.webp 1x, 
                        ./img/yachts/belle-1440-2x-webp.webp 2x">
                        
                        <source media="(min-width: 1440px)" type="image/png" srcset="./img/yachts/belle-1440-1x.png 1x, 
                        ./img/yachts/belle-1440-2x.png 2x">
                        
                        <source media="(min-width: 1280px)" type="image/webp" srcset="./img/yachts/belle-1280-1x-webp.webp 1x, 
                        ./img/yachts/belle-1280-2x-webp.webp 2x">
                        
                        <source media="(min-width: 1280px)" type="image/png" srcset="./img/yachts/belle-1280-1x.png 1x, 
                        ./img/yachts/belle-1280-2x.png 2x">
                        
                        <img class="yachts-photo" src="./img/yachts/belle-1440-1x.png" alt="BELLE ANNA yacht">

                    </picture>
                    <div class="yachts-text-container decorative-line">
                        <h3 class="yachts-subtitle">BELLE ANNA</h3>
                        <p class="yachts-text">LUXURY YAHTS</p>
                    </div>
                    <div class="yachts-item-container">
                        <ul class="yachts-parameters">
                            <li class="yachts-item-categories">LENGTH</li>
                            <li class="yachts-item-categories">BUILDER</li>
                            <li class="yachts-item-categories">BUILT</li>
                            <li class="yachts-item-categories">GUESTS</li>
                            <li class="yachts-item-categories">PRICE</li>
                        </ul>
                        <ul class="yachts-parameters">
                            <li class="yachts-item-parameters">50m(155ft)</li>
                            <li class="yachts-item-parameters">ISA</li>
                            <li class="yachts-item-parameters">2012</li>
                            <li class="yachts-item-parameters">12 in 6 cabins</li>
                            <li class="yachts-item-parameters">€21,000,000</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="yachts-link-container"><a class="yachts-link" href="#rent">Yacht rental</a></div>
    </div>
</section>