.header {
width: 100%;
position: absolute;
top: 20px;
left: 0;
transition: translateY(50%);
}

.header-container {
    width: calc(100% - 40px);
    padding-top: 12px;
    padding-bottom: 13px;
    background: var(--main-color4);
    border: 1px solid var(--main-color4);
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.header-logo {
    color: var(--main-color3);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.03px;
}

.header-navigation-list {
    display: none;
}

.header-soc-list {
    display: none;
}

.mob-menu-open-btn {
    display: flex;
    position: absolute;
    background: transparent;
    align-items: center;
    justify-content: center;
    border: none;
    width: 28px;
    height: 28px;
    padding: 0;
    right: 0;
    transform: translateX(-50%);
    top: 7px;
}

.mob-menu-close-btn.is-hidden {
    display: none;
}

.header-button {
    stroke: var(--main-color3);
    fill: var(--main-color3);
}



/* Media */
@media screen and (min-width: 320px) and (max-width: 375px){
    .header-container {
        min-width: calc(100% - 40px);
        width: calc(100% - 40px);
    }
}
@media screen and (min-width: 375px) and (max-width: 767px){
    .header-container {
        min-width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        top: 32px;
    }

    .header-container {
        min-width: 704px;
        width: 704px;
        padding-top: 4px;
        padding-bottom: 4px;
        justify-content: space-between;
    }
    .navigation {
        display: flex;
        align-items: center;
    }
    .header-logo {
        font-size: 20px;
        margin-right: 109px;
    }
    .header-navigation-list {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .header-navigation-link {
        display: flex;
        background: rgba(27, 65, 75, 0.50);
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 91px;
        height: 40px;
        transition: background-color 250ms ease-in-out;
    }

    .header-navigation-link:hover,
    .header-navigation-link:focus {
        background: var(--main-color3);
    }

    .header-navigation-link.active {
        background: var(--main-color3);
    }

    .header-navigation-item {
        color: var(--main-color4);
        text-align: center;
        font-size: 9px;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
    }

    .mob-menu-open-btn {
        display: none;
    }

    .header-soc-list {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .header-soc-link {
        display: block;
    }

        .header-soc-icon {
        display: block;
        fill: var(--main-color3);
    }
}

@media screen and (min-width: 1280px) {
    .header-container {
        min-width: 1080px;
        width: 1080px;
    }
    .header-logo {
        margin-right: 296px;
    }
}

@media screen and (min-width: 1440px) {
    .header-container {
        min-width: 1240px;
        width: 1240px;
    }
    .header-logo {
        margin-right: 375px;
    }
}

/* Modal */
.modal-container {
    position: fixed;
    display: flex;
    z-index: 900;
    top: 0;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    /* height: calc(100vh - 50px); */
    width: 100%;
    height: 100%;
    background: #0E1823;
    transform: translate(0, -120%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container.is-open {
    transform: translate(0, 0);
}

.mob-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-top: 201px;
    padding-bottom: 361px;
}

.mob-navigation-item {
    display: flex;
    background: rgba(27, 65, 75, 0.50);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    transition: background-color 250ms ease-in-out;
}
    
.mob-navigation-item:hover,
.mob-navigation-item:focus {
    background: var(--main-color3);
}

.mob-navigation-link {
    color: var(--main-color4);
    text-align: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
}

.mod-soc-list {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
}

.mod-soc-icon {
    fill: var(--main-color4);
}